html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;font-size: 100%;
    color: #000;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, span, a, p, sub, blockquote, th, td{outline:none !important}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .ui-widget, body, input, select, option, textarea {font:13px/16.8px Helvetica, Arial, Sans-Serif}
.html-body {
    font-size: 1.3em;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px;
}
* {
    line-height: 20px;
    color: #000 !important;
}
html, body {
    background: #fff !important;
}
.imageDefaultPrint {
    width: 100px;
}
.imageDefaultPrint img {
    max-width: 100%;
    object-fit: contain;
}
.header {
    margin: 20px 0;
    width: 98%;
    display: block;
    height: 100px;
    position: relative;
}

.header .name {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 14%;
    width: 65%;
}

.header .sdt {
    float: right;
    width: 17%
}

.header .sdt ul {
    list-style: none;
}

.header .depotLogo {
    width: 220px;
}

.header .storeInfo {
}

.header .storeInfo h2 {
    font-size: 1.4em;
    text-align: left;
}

.header .date {
    text-align: center;
    font-style: italic;
    font-size: 0.5em;
    font-weight: normal;
}

.body {
    display: block;
    padding: 10px 0 0 5px;
    width: 98%;
}

.body .row {
    width: 100%;
}

.cus-f-info, .tbl-cus {
    margin: 15px 0 15px 0
}

.cus-f-info table, .tbl-cus {
    width: 98%;
}

.cus-f-info tablet tr {
}

.cus-f-info table .col1, .tbl-cus .col1 {
    width: 20%
}

.cus-f-info table .col2, .tbl-cus .col2 {
    width: 76%;
    font-weight: bold;
    font-size: 1.2em;
}

.cus-f-info table td span {
    width: 100%;
    display: block;
    margin-top: 1%;
    border-bottom: 1px dotted
}

.tbl-cus td span {
    width: 100%;
    display: block;
    margin-top: 1%;
    border-bottom: 1px dotted
}

.cus-f-info table td {
}

.body .row .b-info-cus {
}

.b-grid .data {
    width: 98%
}

.b-grid .data .col-name {
    font-weight: bold
}

.b-grid .data .col1 {
    width: 5%;
}

.b-grid .data .col2 {
    width: 50%;
}

.b-grid .data .col3 {
    width: 8%;
}

.b-grid .data .col4 {
    width: 10%;
}

.b-grid .total {
    width: 100%
}

.b-grid .total .col1 {
}

.b-grid .total .col2 {
}

.b-grid .total .col3 {
}

.b-grid .last {
    font-weight: bold
}

.footer {
    border-top: 1px solid;
    padding-top: 13px;
}

.footer .row {
    float: left;
    width: 32%;
    text-align: center;
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 1.2em;
}

.footer .row span {
    font-weight: normal;
    font-size: 0.86em;
}

.row.note {
    width: 98%;
    text-align: center;
    font-style: italic;
    vertical-align: bottom;
}

h1 {
    font-size: 1.2em;
    color: #000;
    text-transform: uppercase;
}

strong, b {
    font-weight: bold;
}

.printPage .dg {
    border-top: #4d4d4d 1px solid ;
    border-right: 1px solid #4d4d4d ;
}

.printPage .dg th, .printPage .dg td {
    border: #4d4d4d 1px solid ;
    border-left: #4d4d4d 1px solid ;
    text-align: center;
    padding: 5px;
}

.printPage .dg thead {
    border-top: #4d4d4d 1px solid ;
    border-right: 1px solid #4d4d4d ;
}
.page-break-after-print{
	page-break-after: always;
}
@media print {
    @page{
        size:auto;
    }
    .table-bordered td, .table-bordered th {
        border: 1px solid black !important;
    }
    div {
        page-break-after: avoid;
    }
    body {
        min-width: 150px !important;
    }
    img {
        max-width: 100%;
    }
    #headerPrint {
        display: none;
    }
}
/* Custom CSS */
.printWrapper{
    margin:0 auto;font-size: 14px;line-height: normal !important;
}
.printBody {
    padding: 5px 2px;
}
.printHeader {
    padding: 8px 0; text-align: center;
}
.printHeader h4{
    text-transform: uppercase;
}
.printTitle{
    padding: 8px 0 0; text-align: center; text-transform: uppercase;
}
.prlist {
    width: 100%;
}
.prlist th, .prlist td {
    text-align: center;
}
.prlist td {
    padding-top: 10px;
    padding-bottom: 10px;
}
.prlist thead tr th {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.prlist tbody tr td {
    border-bottom: 1px dashed #ccc;
}
.printFoot {
    padding: 8px 0 5px; text-align: center; border-top: 1px solid #444
}
.printFoot h4 {
    text-transform: uppercase;
}
.printNote {
    padding:4px 0
}